.finding-aid-body {
    font-size:10pt;
    font-family: Arial,Verdana,sans-serif;
}
.finding-aid-table {
    width: 100%; 
    padding: 5px;
    vertical-align: top;
    border: none; 
} 
.finding-aid-table-caption {
    font-weight: 700; 
    background-color: #c0c0c0; 
    border: 1px solid black; 
    padding-left: 5px;
    text-align: left;
}
.finding-aid-table-foot {
    height: 10px;
    border: 1px solid black; 
}
.finding-aid-first-row {
    border-spacing: 0px;
    padding: 0px;
}
.finding-aid-last-row {
    border: 1px solid black;
}
.finding-aid-first-column {
    width: 100px;
}
.finding-aid-last-column {
    width: 160px;
}
td {
    vertical-align: top;	
}
.tab { 
    display:inline-block; 
    margin-left: 40px; 
}