.finding-aid-body {
    font-size:10pt;
    font-family: Arial,Verdana,sans-serif;
}
.finding-aid-table {
    width: 100%; 
    padding: 5px;
    border: none; 
} 
.finding-aid-table-caption {
    font-weight: 400; 
    background-color: #d0d0d0; 
    text-align: left;
}		
.finding-aid-table-empty-row {
    border-bottom: 1px solid black;
    padding: 0px;
    height: 0px;
}
.finding-aid-table-first-column {
    width: 100px;
}
.finding-aid-table-last-column {
    width: 160px;
}
td {
    vertical-align: top;	
}